.FoodListWrapper {
  background-color: #ff808029;
  padding: 3rem;
}
.FoodListWrapper h1 {
  font-style: oblique;
  color: #763939;
  background-color: #ff808083;
  text-align: center;
  box-shadow: 0px 2px 8px 0px #ffefca;
  border-radius: 0.5rem 0.5rem 0 0;
}
.innerWrapper {
  display: flex;
  border-bottom: 2px solid #ffefca;
  background-color: #ffffff;
}
.FoodListWrapper ul {
  flex-grow: 1;
  list-style: none;
  margin: 1rem 0;
  padding: 1rem;
}
.FoodListWrapper li:first-child {
  font-size: larger;
}
.FoodListWrapper li:nth-child(2) {
  font-weight: 600;
  opacity: 0.6;
}
.FoodListWrapper li:last-child {
  font-size: large;
  font-weight: 600;
  margin-top: 0.5rem;
  color: #ff8080;
}

.amountForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.MealAmountCount {
  padding: 0.2rem 0.7rem;
  margin: 0 0.3rem;
  background: #ff808036;
  border: 2px solid #ff8080;
  border-radius: 0.3rem;
}
.amountForm button {
  background-color: #ffffff;
  padding: 0.3rem 1rem;
  font-weight: 600;
  color: #ff8080;
  border: 2px solid#ff8080;

  border-radius: 4rem;
}
