.Navbar {
  width: 100%;
  position: fixed;
  height: fit-content;
  box-shadow: 0 0 18px 4px #8d8c8b3b;
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
}
.logo {
  flex-grow: 1;
  justify-self: center;
  text-align: justify;
  margin: 0 1rem;
  margin-top: 0.3rem;
  color: #47350e;
}
.Navbar ul {
  list-style: none;
  display: flex;
  background-color: #ffb8203b;
  padding: 0.3rem 1rem;
  border-radius: 10rem;
}
.Navbar ul li {
  margin: 0 0.5rem;
}
.cartIcon {
  width: 22px;
}
.cartItemCount {
  background-color: #ffb820;
  color: #47350e;
  font-weight: 600;
  padding: 0 0.6rem;
  border-radius: 10rem;
}
